<div class="overlay" *ngIf="isLoading | async">
    <p-progressSpinner ariaLabel="loading"></p-progressSpinner>
</div>
<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                    </div>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="Refresh" icon="pi pi-refresh" class="p-button-info mr-2" (click)="refresh()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="quizs" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="['name', 'test']" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [(selection)]="selectedProducts" selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Quiz</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."  class="w-full sm:w-auto"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name" style="text-align: center;">Name</th>
                        <th pSortableColumn="age" style="text-align: center;">Age</th>
                        <th pSortableColumn="academicdegree" style="text-align: center;">Academic Degree</th>
                        <th pSortableColumn="position" style="text-align: center;">Position</th>
                        <th pSortableColumn="test" style="text-align: center;">Test</th>
                        <th pSortableColumn="datequiz" style="text-align: center;">Date Quiz</th>
                        <th pSortableColumn="totaltime" style="text-align: center;">Total Time</th>
                        <th pSortableColumn="report" style="text-align: center;">Report Status</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-quiz>
                    <tr>
                        <td style="width:20%; min-width:10rem;"><span class="p-column-title">name</span>
                            {{quiz.name}}
                        </td>
                        <td style="width:5%; min-width:5rem;">
                            <span class="p-column-title">age</span>
                            {{quiz.age}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">academicdegree</span>
                            {{quiz.academicdegree}}
                        </td>
                        <td style="width:20%; min-width:10rem;">
                            <span class="p-column-title">position</span>
                            {{quiz.position}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">test</span>
                            {{quiz.test}}
                        </td>
                        <td style="width:10%; min-width:7.5rem;">
                            <span class="p-column-title">datequiz</span>
                            {{quiz.datequiz}}
                        </td>
                        <td style="width:10%; min-width:5rem;">
                            <span class="p-column-title">totaltime</span>
                            {{quiz.totaltime}}
                        </td>
                        <td style="width:10%; min-width:5rem;">
                            <span class="p-column-title">report</span>
                            <span [class]="'quiz-badge status-' + (quiz.report? quiz.report.toLowerCase().replace('-', '') : '')">{{quiz.report}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded mr-2" (click)="editQuiz(quiz)"></button>
                                <button pButton pRipple icon="pi pi-download" class="p-button-rounded p-button-success mr-2" (click)="saveReport(quiz, quiz.id)"></button>
                                <button pButton pRipple icon="pi pi-file-edit" class="p-button-rounded p-button-secondary mr-2" (click)="openAnalysis(quiz)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="quizDialog" [style]="{width: '500px'}" header="Quiz Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col-12 md:col-9">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" [(ngModel)]="quiz.name" [disabled]="true"/>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label for="Age">Age</label>
                        <input type="text" pInputText id="Age" [(ngModel)]="quiz.age"/>
                    </div>
                </div>

                <div class="field">
                    <label for="academicdegree">Academic Degree</label>
                    <input type="text" pInputText id="academicdegree" [(ngModel)]="quiz.academicdegree"/>
                </div>
                <div class="field">
                    <label for="position">Position</label>
                    <input type="text" pInputText id="position" [(ngModel)]="quiz.position"/>
                </div>
                <div class="field">
                    <label for="test">Test</label>
                    <input type="text" pInputText id="test" [(ngModel)]="quiz.test" [disabled]="true"/>
                </div>
                <div class="formgrid grid">
                    <div class="field col-12 md:col-4">
                        <label for="datequiz">Data Quiz</label>
                        <input type="text" pInputText id="datequiz" [(ngModel)]="quiz.datequiz" [disabled]="true"/>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="totaltime">Total Time</label>
                        <input type="text" pInputText id="totaltime" [(ngModel)]="quiz.totaltime" [disabled]="true"/>
                    </div>
                    <div class="field col-12 md:col-4">
                        <label for="report">Report Status</label>
                        <input type="text" pInputText id="report" [(ngModel)]="quiz.report" [disabled]="true"/>
                    </div>
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-danger" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text " (click)="save(quiz, quiz.id)"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
